<%= form_for @post do |form| %>
  <%= render "error_messages", target: @post %>
  <div>
    <p>Assign your post to a category</p>
    <%= form.collection_check_boxes(:category_ids, @categories, :id, :name) %>
    <% if current_user.admin? %>
      <p>Don't see a category you like? <%= link_to "Create category", [:new, :category] %></p>
    <% end %>
  <div>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
    <%= form.submit  %>
  </div>
<% end %>
