<h2>Current Post</h2>
<div>
  <%= @post.title %>
</div>
<div>
  <%= @post.body %>
</div>
<div>
  <%= @post.price %>
</div>
<div>
  <%= @post.location.name %>
</div>

<% if signed_in? %>
  <h2>Edit  Post</h2>
  <div><%= render "edit_post" %></div>
  <%= button_to "Delete Post", @post, method: :delete %>
<% end %>
