<h2><%= link_to "Locations", :locations %></h2>
<h2>See all posts by location</h2>

<%= paginate @posts %>
<ul>
  <% @locations.each do |location| %>
    <li>
      <%= link_to location.name, location %>
      <ul>
        <% location.posts.each do |location_post| %>
          <li><%= link_to location_post.title, location_post %></li>
        <% end %>
      </ul>
    </li>
  <% end %>

<% if current_user.admin? %>
  <%= render 'admin_delete_spam' %>
<% end %>
