<h2><%= link_to "Locations", :locations %></h2>
<h2>Posts</h2>
All your posts belong to us
<% if signed_in? %>
  <h2>Add a Post</h2>
  <%= form_for @post do |form| %>
    <%= render "error_messages", target: @post %>
    <div>
      <p>Assign your post to a category</p>
      <%= form.collection_select :id, @categories, :id, :name %>
      <% if current_user.admin? %>
        <p>Don't see a category you like? <%= link_to "Create category", new_category_path %></p>
      <% end %>
    <div>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div>
      <%= form.label :body %>
      <%= form.text_area :body %>
    </div>
    <div>
      <%= form.label :price %>
      <%= form.text_field :price %>
    </div>
    <div>
      <%= form.label :location %>
      <%= form.collection_select :location_id, @locations, :id, :name %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>

<h2>All Posts</h2>
<%= paginate @posts %>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.title %>
      <% if signed_in? %>
        <% if ! post.spam? %>
          <%= render "report_spam_button", post:  post %>
        <% end %>
      <% end %>
    </li>
  <%end%>
<% if current_user.admin? %>
  <h3> Spam </h3>
  </ul>
  <% @spam.each do |spam| %>
    <li> 
      <%= spam.title %>
      <%= button_to "Delete this Spam", spam, method: :delete %>
    </li>
  <% end %>
  </ul>
<% end %>
