<h2><%= @post.title %></h2>
<div>
  <%= @post.body %> 
</div>
<div>
  <%= @post.price %> 
</div>
<div>
  <%= @post.location.name %> 
</div>
<div>
<% if @post.user_id == @user.id %>
  <%= link_to "Edit Post", [:edit, @post] %>
<% end %>
</div>
