<%= form_for [@location, @post] do |form| %>
  <%= render "error_messages", target: @post %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>
  <div>
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>
  <div>
    <p class="form-label">Ad categories</p>
    <%= form.collection_check_boxes(:category_ids, @location.categories, :id, :name) %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

