<h2>Locations</h2>

<h3>Add a location</h3>
<%= form_for @location do |form| %>
  <%= render "error_messages", target: @location %>
  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>
  <div>
    <%= form.submit "Add Location" %>
  </div>
<% end %>

<h2>Locations</h2>
<ul>
  <%@locations.each do |location| %>
    <li><%=location.location %></li>
  <%end%>
</ul>
