<h2>Locations</h2>
<% if current_user.admin? %>
  <h3>Add a location</h3>
  <%= form_for @location do |form| %>
    <%= render "error_messages", target: @location %>
    <div>
      <%= form.label :name, "Location" %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.submit "Add Location" %>
    </div>
  <% end %>
<% end %>

<ul>
  <% @locations.each do |location| %>
    <li><%= link_to location.name, location %></li>
  <% end %>
</ul>
