<% if signed_in? %>
  <% content_for :left_container  do %>
    <div class="new-post-dash">
      <h2> Post an Ad </h2>
      <div><%= render "create_post" %></div>
    </div>
  <% end %>
<% end %>

<h2>Ads in <%= @location.name %></h2>
<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post %></li>
  <% end %>
</ul>
<h2> Catagories in <%= @location.name %> </h2>
<ul>
  <% @location.categories.each do |category| %>
    <li>
      <%= link_to category.name, [@location, category] %>
    </li>
  <% end %>
</ul>
 <% if current_user.admin? %>
    <div class="admin_section"><h3>Administration</h3>
      <%= button_to "Create category", [:new, @location, :category], method: :get %>
    </div>
  <% end %>
