<!DOCTYPE html>
<html>
<head>
  <title>ClaCraigstr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if signed_in? %>
    You are signed in as <%= current_user.email %> <%= link_to "Sign out", :session, method: :delete %>
  <% elsif %>
    <%= link_to "Create new account", sign_up_path %>
    <%= link_to "Sign in", sign_in_path %>
  <% end %>

  <h1> CRAIGSTR </h1>

  <div class="outer-container">
    <div class="side-dashboard">
      <h2>Dashboard</h2>
      <% if signed_in? %>
        <div><%= link_to "My Posts", current_user %></div>
      <% end %>
      <div><%= link_to "Locations", :locations %></div>
      <div><%= link_to "All Posts", :posts %></div>
    </div>
    <div class="main-dashboard">
      <%= yield %>
    </div>
  </div> 
</body>
</html>
